
.footer {
    background-color: #5A738E;
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding-top: 0.1px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  color: #FFFFFF;
  display: flex;
  text-align: left;
  justify-content: space-around;
  font-weight: bold;
  }
  .footer>h2,h3{
    font-size: large;
    font-weight: bold;
  }
  i{
    font-size: xx-large;
    font-weight: bolder;
  }
  .h{
  
    font-size: xx-large;
    font-weight: bold;
  }